* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

.container {
  color: white;
  background: linear-gradient(145deg, #2193b0, #6dd5ed);
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 1.4rem;
}

.search-bar {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.search-icon {
  position: absolute;
  margin-right: 5px;
  left: 0;
}

.search-input {
  background: transparent;
  outline: 0;
  border: 0;
  color: white;
  height: 20px;
  padding: 3px 3px 3px 20px;
  font-size: 1.6rem;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 80px 50px;
}

.city-name {
  font-size: 2rem;
  margin-bottom: 3px;
}

.weather-state {
  font-size: 1.4rem;
}

.weather-icon {
  width: 70px;
  height: 70px;
}

.temprature {
  position: relative;
  font-size: 8rem;
  font-weight: lighter;
  line-height: 1;
}

.temprature::after {
  content: "o";
  position: absolute;
  top: -10px;
  font-size: 3rem;
}

.additional-section {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 1.4rem;
}

.additional-section .row {
  display: flex;
  margin-bottom: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item .label {
  font-weight: bold;
}